.location{    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto 20px;
        h3{
            text-align: center;
            width: 100%;
        }
        .location-address{
            width: 50%;
        }
        .location-hours{
            display: flex;
            text-align: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 50%;
            h4{
                width: 100%;
                margin-bottom: 15px;
            }
            p{
                width: 50%;
            }
        }
    }
    .map{
        width: 100%;
        iframe{
            width: 100%;
        }
    }
}