@media screen and (max-width:800px){
    header{           
        .container{
            width: 100%;
            .navbar{                
                ul{
                    justify-content: center;
                }    
            }
        }
    }
    .main{
        .about{
            .container{
                overflow: visible;
                position: relative;
                display: flex;
                align-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                .pic{
                    width: 100%;
                    position: relative;                    
                    top: -5vh;
                    z-index: 0;                     
                    img{
                        vertical-align: top;
                        width: 100%;
                    }
                }
                article{
                    width: 100%;
                    position: relative;
                    padding: 40px;
                    z-index: 0;                    
                    top: -5vh;
                }
            }
        }
        .menu{
            padding-top: 0px;
            margin-bottom: 50px;            
            .menu-cont{
                .menu-cont2{
                    flex-wrap: wrap;
                    article{
                        width: 100%;
                        padding: 20px;
                    }
                }
            }
        }
        .gallery{
            .gallery-pics{
                display: flex;
                flex-wrap: wrap;
                .img{
                    width: 50%;  
                }
            }
        
        }
        .location{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;    
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 20px auto 20px;
                width: 90%;
                h3{
                    text-align: center;
                    width: 100%;
                }
                .location-address{
                    width: 100%;
                    text-align: center;
                }
                .location-hours{
                    display: flex;
                    text-align: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    h4{
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    p{
                        width: 50%;
                    }
                }
            }
            .map{
                width: 90%;
                iframe{
                    width: 100%;
                }
            }
        }
    }
    footer{
        .social-cancer{
            .container{
                width: 100%;
            }            
        }
    }    
}