$background: url('../img/bg.jpg');
$font-family: 'open sans', sans-serif;
$font-color: white;
$font-size: 16px;

*{
    box-sizing: border-box;    
}

body{    
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size;    
    .container{
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }
    @import 'header';
}